# Ignore virtual environment
.venv/
venv/

# Ignore dataset and uploaded files
dataset/

uploads/

# Ignore generated model files
models/*.pkl
models/*.pth

# Ignore generated data files
feedback_local.json

*.csv

# Ignore cache, logs, and system files
__pycache__/
*.log
*.tmp
*.DS_Store

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore generated images
confusion_matrix.png

.env
